{% extends 'base.html.twig' %}

{% block title %}New DirigeantsPost{% endblock %}

{% block body %}
    <h1>Ajouter un poste pour les dirigeants</h1>

    {{ include('add/post/_form.html.twig') }}

    <a href="{{ path('admin_dirigeants_post') }}">Retour à la liste</a>
{% endblock %}
