{% extends 'base.html.twig' %}

{% block title %}New BasketballPlanning{% endblock %}

{% block body %}
    <h1>Create new BasketballPlanning</h1>

    {{ include('section/basketball/basketball_planning/_form.html.twig') }}

    <a href="{{ path('admin_basketball_planning') }}">Retour à la liste</a>
{% endblock %}
