{% extends 'base.html.twig' %}

{% block title %}New Dirigeants{% endblock %}

{% block body %}
    <h1>Ajouter un dirigeant</h1>

    {{ include('asf/dirigeants/_form.html.twig') }}

    <a href="{{ path('admin_dirigeants') }}">Retour à la liste</a>
{% endblock %}
