{% extends 'base.html.twig' %}

{% block title %}Edit AdherantImage{% endblock %}

{% block body %}
    <h1>Editer l'image de la carte adhérent</h1>

    {{ include('asf/adherant/adherant_image/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admin_adherant') }}">Retour à la liste</a>

    {{ include('asf/adherant/adherant_image/_delete_form.html.twig') }}
{% endblock %}
