{% extends 'base.html.twig' %}

{% block title %}New AdherantImage{% endblock %}

{% block body %}
    <h1>Ajouter l'image "carte adherant" </h1>

    {{ include('asf/adherant/adherant_image/_form.html.twig') }}

    <a href="{{ path('admin_adherant') }}">Retour à la liste</a>
{% endblock %}
