{% extends 'base.html.twig' %}

{% block title %}New President{% endblock %}

{% block body %}
    <h1>Ajouter un(e) Président(e)</h1>

    {{ include('asf/president/_form.html.twig') }}

    <a href="{{ path('admin_president') }}">Retour à la liste</a>
{% endblock %}
