{% extends 'base.html.twig' %}

{% block title %}New VerticalHistory{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Histoire</h1>

    {{ include('asf/verticalhistory/_form.html.twig') }}

    <a href="{{ path('admin_verticalHistory') }}">Retour à la liste</a>
{% endblock %}
