{% extends 'base.html.twig' %}

{% block title %}Edit CarouselPartenaire{% endblock %}

{% block body %}
    <h1>Editer le carousel des partenaires</h1>

    {{ include('home/carousel_partenaire/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admin_carousel_partenaire') }}">Retour à la liste</a>

    {# {{ include('home/carousel_partenaire/_delete_form.html.twig') }} #}
{% endblock %}
