{% extends 'base.html.twig' %}

{% block title %}New CarouselPartenaire{% endblock %}

{% block body %}
    <h1>Ajouter le carousel des partenaires</h1>

    {{ include('home/carousel_partenaire/_form.html.twig') }}

    <a href="{{ path('admin_carousel_partenaire') }}">Retour à la liste</a>
{% endblock %}
