{% extends 'section/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ '/styles/homeSection.css' }}" rel="stylesheet">
    <link href="{{ '/styles/footer.css' }}" rel="stylesheet">
    <link href="{{ '/styles/nav.css' }}" rel="stylesheet">
    <link href="{{ '/styles/navSection.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Section Sportives{% endblock %}

{% block main %}
    <p>ici la fiche du sport en question prochainement</p>
{% endblock %}
