{% extends 'asf/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ 'styles/homeAsf.css' }}" rel="stylesheet">
    <link href="{{ 'styles/footer.css' }}" rel="stylesheet">
    <link href="{{ 'styles/nav.css' }}" rel="stylesheet">
    <link href="{{ 'styles/navAsf.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Alerte Sportif de Fondettes{% endblock %}

{% block main %}
    <div class="image-1">
        <div class="text-1">
            <p>
                L'histoire de l'ASF...
            </p>
            <a href="#" class="about">Voir plus</a>
        </div>
    </div>
    <div class="image-2">
        <div class="text-2">
            <p>
                Vous trouverez ici les dirigeants de l'omnisport / de l'ASF...
            </p>
            <a href="#" class="about">Voir plus</a>
        </div>
    </div>
    <div class="image-3">
        <div class="text-3">
            <p>
                Vous trouverez ici les salariés de l'omnisport / de l'ASF...
            </p>
            <a href="#" class="about">Voir plus</a>
        </div>
    </div>
    <div class="image-4">
        <div class="text-4">
            <p>
                Vous souhaitez devenir Adérant, et profiter de divers avantage...
            </p>
            <a href="#" class="about">Voir plus</a>
        </div>
    </div>
    <div class="image-5">
        <div class="text-5">
            <p>
                Pour nous contactez...
            </p>
            <a href="#" class="about">Voir plus</a>
        </div>
    </div>
{% endblock %}
