@import "variables.css";
@import "fontFamily.css";

main {
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-family: 'Varela', sans-serif;
}

.container_actuality {
    display: flex;
    margin: 2em 2em;
    justify-content: center;
}

.actuality {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.actuality_titre {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Varela', sans-serif;
}

.actuality_date {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Varela', sans-serif;
}

.actuality_text {
    font-size: 16px;
    margin-bottom: 0.25rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-family: 'Varela', sans-serif;
}

.actuality_image {
    display: flex;
    justify-content: center;
}

.actuality_image img {
    width: 600px;
    height: 500px;
}

@media screen and (max-width: 1200px) {
    .actuality_image img:hover {
        transform: none;
    }

    .container_actuality {
        align-items: center;
    }

    .actuality_image img {
        width: 400px;
        height: 300px;
    }
}
@media screen and (max-width: 750px) {
    .container_actuality {
        display: flex;
        flex-direction: column;
    }
}
