@import "variables.css";
@import "fontFamily.css";

main {
    padding-top: 175px;
}

.actuality h1 {
    text-align: center;
}

.actuality {
    margin-top: 2rem;
    width: 100vw;
}

.container_actuality {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
}

.actualities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.actuality_titre {
    font-size: 30px;
}

.actuality_text {
    font-size: 20px;
    margin-top: 1rem;
}

.actuality_image {
    width: 500px;
}

.actuality_image img {
    width: 100%;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: absolute;
    margin: 30px 30px;
    width: 450px;
    height: 225px;
    transform: translate(-50%, 370%);
}
.text-1 a {
    margin: 10px 10px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* carousel history home page */
.home-carousel-history {
    position: relative;
    width: 600%;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 40s slidy-history infinite ease-in-out;
}

.home-carousel-history img {
    width: 16.66%;
    height: 100vh;
    float: left;
}
@keyframes slidy-history {
    0% { left: 0; }
    13% { left: 0; }

    17% { left: -100%; }
    32% { left: -100%; }

    37% { left: -200%; }
    52% { left: -200%; }

    57% { left: -300%; }
    72% { left: -300%; }

    77% { left: -400%; }
    92% { left: -400%; }

    95% { left: -500%; }
    100% { left: -500%; }
}

/* carousel section home page */
.home-carousel-section {
    position: relative;
    width: 2100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 140s slidy-section infinite ease-in-out;
}

.home-carousel-section img {
    width: 4.76%; /* 2.38 = 2sections par carousel*/
    height: 100vh;
    float: left;
}
@keyframes slidy-section {
    0% { left: 0; }
    3% { left: 0; }

    5% { left: -100%; }
    8% { left: -100%; }

    10% { left: -200%; }
    13% { left: -200%; }

    15% { left: -300%; }
    18% { left: -300%; }

    20% { left: -400%; }
    23% { left: -400%; }

    25% { left: -500%; }
    28% { left: -500%; }

    30% { left: -600%; }
    33% { left: -600%; }

    35% { left: -700%; }
    38% { left: -700%; }

    40% { left: -800%; }
    43% { left: -800%; }

    45% { left: -900%; }
    48% { left: -900%; }

    50% { left: -1000%; }
    53% { left: -1000%; }

    55% { left: -1100%; }
    58% { left: -1100%; }

    60% { left: -1200%; }
    63% { left: -1200%; }

    65% { left: -1300%; }
    68% { left: -1300%; }

    70% { left: -1400%; }
    73% { left: -1400%; }

    75% { left: -1500%; }
    78% { left: -1500%; }

    80% { left: -1600%; }
    83% { left: -1600%; }

    85% { left: -1700%; }
    88% { left: -1700%; }

    90% { left: -1800%; }
    93% { left: -1800%; }

    95% { left: -1900%; }
    98% { left: -1900%; }

    99% { left: -2000%; }
    100% { left: -2000%; }
}

/* carousel partenaire home page */
.home-carousel-partenaire {
    position: relative;
    width: 2600%;
    margin-top: 1rem;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 170s slidy-partenaire infinite ease-in-out;
}

.home-carousel-partenaire img {
    width: 1.925%; /*1.925 = 2 partenaires en 1 carousel*/
    height: 50vh;
    float: left;
}
@keyframes slidy-partenaire {
    0% { left: 0; }
    2% { left: 0; }

    3% { left: -100%; }
    6% { left: -100%; }

    7% { left: -200%; }
    10% { left: -200%; }

    11% { left: -300%; }
    14% { left: -300%; }

    15% { left: -400%; }
    18% { left: -400%; }

    19% { left: -500%; }
    22% { left: -500%; }

    23% { left: -600%; }
    26% { left: -600%; }

    27% { left: -700%; }
    30% { left: -700%; }

    31% { left: -800%; }
    34% { left: -800%; }

    35% { left: -900%; }
    38% { left: -900%; }

    39% { left: -1000%; }
    42% { left: -1000%; }

    43% { left: -1100%; }
    46% { left: -1100%; }

    47% { left: -1200%; }
    50% { left: -1200%; }

    51% { left: -1300%; }
    54% { left: -1300%; }

    55% { left: -1400%; }
    58% { left: -1400%; }

    59% { left: -1500%; }
    62% { left: -1500%; }

    63% { left: -1600%; }
    66% { left: -1600%; }

    67% { left: -1700%; }
    70% { left: -1700%; }

    71% { left: -1800%; }
    74% { left: -1800%; }

    75% { left: -1900%; }
    78% { left: -1900%; }

    79% { left: -2000%; }
    82% { left: -2000%; }

    83% { left: -2100%; }
    86% { left: -2100%; }

    87% { left: -2200%; }
    90% { left: -2200%; }

    91% { left: -2300%; }
    94% { left: -2300%; }

    95% { left: -2400%; }
    98% { left: -2400%; }

    99% { left: -2500%; }
    100% { left: -2500%; }
}
