@import "variables.css";
@import "fontFamily.css";

main {
    padding-top: 30px;
}

h1 {
    text-align: center;
}

.actuality {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    justify-content: space-around;
}

.container_actuality {
    display: flex;
    margin: 1em 5px;
}

.actualities {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform .5s;
    width: 300px;
    height: 200px;
    text-align: center;
    justify-content: center;
}

.container_actuality:hover {
    transform: scale(1.30);
}

.actuality_titre {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.actuality_date {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.actuality_text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.actuality_image {
    display: flex;
    justify-content: center;}

.actuality_image img {
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-1 {
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-bottom: 30px;
    margin-right: 10px;}
.text-1 a {
    margin: 10px 10px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.text-2 {
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-bottom: 10px;
    margin-right: 10px;
}
.text-2 a {
    margin: 10px 10px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.text-3 {
    text-align: center;
    z-index: 1;
    position: absolute;
    margin-bottom: -30px;
    margin-right: 10px;
}
.text-3 a {
    margin: 10px 10px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home {
    overflow: hidden;
}

/* carousel history home page */
.home-carousel-history figure {
    position: relative;
    width: 800%;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 40s slidy-history infinite ease-in-out;
}

.home-carousel-history figure img {
    width: 6.25%;
    height: 50vh;
    float: left;
}
@keyframes slidy-history {
    0% { left: 0; }
    15% { left: -100%; }

    25% { left: -100%; }
    50% { left: -200%; }

    60% { left: -200%; }
    85% { left: -300%; }

    95% { left: -300%; }
    100% { left: -300%; }
}

/* carousel section home page */
.home-carousel-section figure {
    position: relative;
    width: 2200%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 80s slidy-section infinite ease-in-out;
}

.home-carousel-section figure img {
    width: 2.2727%;
    height: 50vh;
    float: left;
}
@keyframes slidy-section {
    0% { left: 0; }
    4% { left: -100%; }

    6% { left: -100%; }
    14% { left: -200%; }

    16% { left: -200%; }
    24% { left: -300%; }

    26% { left: -300%; }
    34% { left: -400%; }

    36% { left: -400%; }
    44% { left: -500%; }

    46% { left: -500%; }
    54% { left: -600%; }

    56% { left: -600%; }
    64% { left: -700%; }

    66% { left: -700%; }
    74% { left: -800%; }

    76% { left: -800%; }
    84% { left: -900%; }

    86% { left: -900%; }
    94% { left: -1000%; }

    96% { left: -1000%; }
    100% { left: -1000%; }
}

/* carousel partenaire home page */
.home-carousel-partenaire figure {
    position: relative;
    width: 3300%;
    margin-top: 1rem;
    font-size: 0;
    text-align: left;
    left: 0;
    animation: 100s slidy-partenaire infinite ease-in-out;
}

.home-carousel-partenaire figure img {
    width: 1.0101%;
    height: 50vh;
    float: left;
}
@keyframes slidy-partenaire {
    0% { left: 0; }
    4% { left: -100%; }

    6% { left: -100%; }
    14% { left: -200%; }

    16% { left: -200%; }
    24% { left: -300%; }

    26% { left: -300%; }
    34% { left: -400%; }

    36% { left: -400%; }
    44% { left: -500%; }

    46% { left: -500%; }
    54% { left: -600%; }

    56% { left: -600%; }
    64% { left: -700%; }

    66% { left: -700%; }
    74% { left: -800%; }

    76% { left: -800%; }
    84% { left: -900%; }

    86% { left: -900%; }
    94% { left: -1000%; }

    96% { left: -1000%; }
    100% { left: -1000%; }
}

@media screen and (max-width: 900px) {
    .home-carousel-history figure img {
        height: 25vh;
    }
    .home-carousel-section figure img {
        height: 25vh;
    }
    .home-carousel-partenaire figure img {
        height: 25vh;
    }
    .text-3 {
        margin-bottom: -40px;
    }
    .container_actuality:hover {
        transform: none;
    }
}

@media screen and (max-width: 600px) {
    .home-carousel-history figure img {
        width: 12.5%;
        height: 25vh;
    }
    .home-carousel-section figure img {
        width: 4.5454%;
        height: 25vh;
    }
    .home-carousel-partenaire figure img {
        width: 1.51515%;
        height: 25vh;
    }
    .container_actuality {
        display: flex;
        flex-direction: column;
    }
    .container_actuality:hover {
        transform: none;
    }
}
