@import "variables.css";
@import "fontFamily.css";

main {
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-family: 'Varela', sans-serif;
}

.container {
    margin: 2em 2em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5rem;
}

.cgu_text {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-family: 'Varela', sans-serif;
}

.cgu_description {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
    font-family: 'Varela', sans-serif;
}

.cgu_article {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-justify: none;
    font-family: 'Varela', sans-serif;
}
