@import 'variables.css';
@import 'fontFamily.css';

main {
    font-family: 'Varela', sans-serif;
    padding-top: 105px;
    padding-bottom: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Varela', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Varela', sans-serif;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact a {
    margin: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Varela', sans-serif;
}

.contact img {
    margin-right: 1rem;
    margin-left: 1rem;
}

label {
    font-size: 20px;
}

input, textarea {
    font-size: 20px;
    padding: 20px 20px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    background: #95ac009a;
}

textarea {
    padding-bottom: 50px;
}

button {
    width: 50%;
    height: 100%;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #94AC00;
    color: #fff;
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-top: 1rem;
    border: medium solid black;
    border-collapse: collapse;
    font-family: 'Varela', sans-serif;
}

th {
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
}
td {
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column-reverse;
    }
    .contact-form {
        margin-top: 2rem;
    }
}
