@import "variables.css";
@import "fontFamily.css";

main {
    font-family: 'Varela', sans-serif;
    padding-top: 105px;
    background: var(--first-color);
    color: var(--history-text-color);
    overflow-x: hidden;
    padding-bottom: 50px;
}

.intro {
    background: var(--first-color);
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.container_dirigeant {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.container_item {
    display: flex;
    margin: 1em 50px;
}

.dirigeant {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform .5s;
    margin-right: 1rem;
    margin-left: 1rem;
}

.dirigeant_image {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.dirigeant_image img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.dirigeant_info {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}

.dirigeant_info h2 {
    display: flex;
    justify-content: center;
}

.dirigeant_post {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
