/* RALEWAY */
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format("truetype");
}

/* VARELA */
@font-face {
    font-family: 'Varela';
    src: url('../fonts/VarelaRound-Regular.ttf') format("truetype");
}
