@import 'variables.css';
@import 'fontFamily.css';

footer {
    background: #222;
    color: white;
    position: relative;
    bottom: 0;
}

.footer {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding: 100px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 10px;
}

.footerSociaux {
    display: flex;
    flex-direction: column;
}
.footerSociaux h3 {
    display: flex;
    justify-content: center;
}
.networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footerContact a {
    padding-bottom: 10px;
    padding-top: 10px;
}

#scrollUp {
    position: fixed;
    bottom : 30px;
    right: 0;
    opacity: 0.5;
}
