@import "variables.css";
@import "fontFamily.css";

main {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    padding-top: 30px;
    background: var(--history-main-background-color);
    color: var(--history-text-color);
    overflow-x: hidden;
    padding-bottom: 50px;
}

.intro {
    background: var(--history-background-color);
    padding: 100px 0;
}

.container {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-size: 3rem;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    text-align: center;
}

.history p {
    font-size: 2.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.history img {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 35%;
}

.table {
    width: 50%;
    margin-top: 1rem;
    border: medium solid black;
    border-collapse: collapse;
}

.president {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

th {
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
}
td {
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
}
