@import "variables.css";
@import "fontFamily.css";

main {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.container_item {
    display: flex;
    margin: 1em 5px;
}

.sections {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform .5s;
}

.sections:hover {
    transform: scale(1.10);
}

.section_title {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
}
.section_title h2 {
    display: flex;
    justify-content: center;
}

.section_text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.section_text h2 {
    display: flex;
    justify-content: center;
}

.section_image {
    display: flex;
    justify-content: center;
}

.section_image img {
    width: 400px;
    height: 300px;
}
