@import "variables.css";
@import "fontFamily.css";

.actuality {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: black;
}

/* First carousel for ASF */
.image-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../images/1ere photo.jpg");
    background-size: cover;
    min-height: 1200px;
    margin-bottom: 50px;
}
.text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-1 p, .text-1 a {
    margin: 10px 10px;
}

/* Second carousel for Section */
.image-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: url("../images/2eme photo.jpg");
    background-size: cover;
    min-height: 1200px;
    margin-bottom: 50px;
}
.text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-2 p, .text-2 a {
    margin: 10px 10px;
}

/* Third carousel for Section */
.image-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../images/3eme photo.jpg");
    background-size: cover;
    min-height: 1200px;
}
.text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-3 p, .text-3 a {
    margin: 10px 10px;
}

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 10px 70px;
    background-color: red;
    text-decoration: none;
    color: var(--home-text-color-buttom);
}
