@import "variables.css";
@import "fontFamily.css";

main {
    padding-top: 250px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.history, .dirigeant, .salary, .adherant, .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-1, .image-2, .image-3, .image-4, .image-5 {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0;
    font-size: 0;
    text-align: left;
}
.image-1 img, .image-2 img, .image-3 img, .image-4 img, .image-5 img {
    width: 50vw;
    height: 50vh;
    align-items: center;
}
.text-1, .text-2, .text-3, .text-4, .text-5 {
    text-align: center;
    z-index: 1;
    position: absolute;
    padding-left: 150px;
    width: 500px;
}
.text-1 a, .text-2 a, .text-3 a, .text-4 a, .text-5 a {
    margin: 10px 10px;
    text-decoration: none;
    color: red;
    font-size: 30px;
}
