@import "variables.css";
@import "fontFamily.css";

main {
    padding-top: 250px;
}

/* First carousel for ASF */
.image-1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../images/Historique.jpg") no-repeat fixed center;
    background-size: cover;
    min-height: 1000px;
    margin-bottom: 50px;
}
.text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-1 p, .text-1 a {
    margin: 10px 10px;
}

/* Second carousel for Section */
.image-2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: url("../images/logo-ASF.png") no-repeat fixed center;
    background-size: cover;
    min-height: 1000px;
    margin-bottom: 50px;
}
.text-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-2 p, .text-2 a {
    margin: 10px 10px;
}

/* Third carousel for Section */
.image-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../images/logo-ASF.png") no-repeat fixed center;
    background-size: cover;
    min-height: 1000px;
    margin-bottom: 50px;
}
.text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-3 p, .text-3 a {
    margin: 10px 10px;
}

.about {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 50px;
    padding: 10px 70px;
    background-color: red;
    text-decoration: none;
    color: var(--home-text-color-buttom);
}

/* First carousel for ASF */
.image-4 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url("../images/carte-adérant.png") no-repeat fixed center;
    background-size: cover;
    min-height: 1000px;
    margin-bottom: 50px;
}
.text-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-4 p, .text-4 a {
    margin: 10px 10px;
}

/* Second carousel for Section */
.image-5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: url("../images/logo-ASF.png") no-repeat fixed center;
    background-size: cover;
    min-height: 1000px;
    margin-bottom: 50px;
}
.text-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    width: 600px;
    height: 250px;
    font-size: 25px;
    color: var(--home-text-color);
    background: var(--home-background-color);
}
.text-5 p, .text-5 a {
    margin: 10px 10px;
}
