@import 'variables.css';
@import 'fontFamily.css';

* {
    font-family: 'Varela', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
.bar4, .bar5, .bar6 {
    display: none;
}

.menu-section {
    float: right;
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    height: 50px;
    background-color: var(--nav-background-color);
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
    word-spacing: 1rem;
}

.menu-section a:focus {
    background-color: red;
}
.menu-section a:hover {
    text-decoration: none;
    color: var(--nav-text-color);
}

.menu-section a:active {
    background-color: yellow;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .site-container, .site-pusher {
        height: 100%;
    }
    .site-container {
        overflow: hidden;
    }
    .site-pusher {
        transition-duration: 0.3s;
        transform: translateX(0px);
    }
    .openButton-section {
        position: relative;
        display: block;
        float: right;
        width: 75px;
        height: 150px;
        cursor: pointer;
    }
    /*.bar4, .bar5, .bar6 {
        position: relative;
        width: 35px;
        height: 5px;
        background-color: black;
        border-radius: 10px;
        margin: 6px 6px;
        top: 50px;
    }*/
    .bar4, .bar5, .bar6 {
        display: flex;
        position: relative;
        top: 40px;
    }
    .menu-section {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background-color: var(--nav-background-color);
        transform: translateX(768px);
        padding-top: 30px;
        height: 100%;
    }
    .menu-section a {
        display: block;
        height: 40px;
        text-align: center;
        margin-top: 30px;
        padding: 0 0;
    }
    .with--sidebar-section .site-pusher {
        transform: translateX(-250px);
    }
}
@media screen and (max-width: 600px) {
    .menu-section {
        transform: translateX(414px);
    }
}
@media screen and (max-width: 400px) {
    .menu-section {
        transform: translateX(375px);
    }
}
@media screen and (max-width: 370px) {
    .menu-section {
        transform: translateX(360px);
    }
}
