:root {
    /* Variable for Navbar */
    --nav-background-color: #a2e51e;
    --nav-text-color: black;

    /* Variable for History page and Vertical History page */
    --history-text-color: white;
    --history-main-background-color: #456990;
    --history-background-color: #F45B69;
    --history-timeligne-color: #a2e51e;

    /* Variable for Home page // ceci n'est plus utilisé */
    --home-text-color: black;
    --home-background-color: green;
    --home-text-color-buttom: white;

    /* Variable for charte color */
    --first-color: #174b44;
    --second-color: #89985a;
    --thrid-color: #c4c4c6;
    --fourth-color: #b2d243;
    --fifth-color: #47c5ab;
}
