<form method="post" action="{{ path('home_carousel_section_delete', {'id': carousel_section.id}) }}" onsubmit="return confirm('Etez-vous sur de vouloir le supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carousel_section.id) }}">
    <button class="btn">Supprimer</button>
</form>
