{% extends 'base.html.twig' %}

{% block title %}Edit CarouselSection{% endblock %}

{% block body %}
    <h1>Editer le Carousel des Sections</h1>

    {{ include('home/carousel_section/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admin_carousel_section') }}">Retour à la liste</a>

    {# {{ include('home/carousel_section/_delete_form.html.twig') }} #}
{% endblock %}
