{% extends 'base.html.twig' %}

{% block title %}New CarouselSection{% endblock %}

{% block body %}
    <h1>Create new CarouselSection</h1>

    {{ include('carousel_section/_form.html.twig') }}

    <a href="{{ path('carousel_section_index') }}">back to list</a>
{% endblock %}
