<footer class="footer">
    <div class="bloc footerMap">
        <ul>
            <li>
                <iframe width="200" height="200"
                        src="https://www.openstreetmap.org/#map=19/47.40154/0.60039">
                </iframe>
            </li>
        </ul>
    </div>
    <div class="bloc footerSociaux">
        <h3>Nos Réseaux</h3>
        <a href="#" target="_blank"><img src="/images/logo-FB.png" alt="icone réseaux sociaux" width="100" /></a>
        <a href="#" target="_blank"><img src="/images/logo-Insta.png" alt="icone réseaux sociaux" width="100" /></a>
        <a href="#" target="_blank"><img src="/images/logo-Twitter.jpg" alt="icone réseaux sociaux" width="100" /></a>
    </div>
    <div class="bloc footerContact">
        <a href="#">Pour nous contacter</a>
        <a href="#">Conditions générales d'utilisation</a>
    </div>
</footer>
