<nav class="nav_bar">
    <a href="#"><img src="{{ ('/images/logo-ASF.png') }}" class="image-home" alt="logo home" height="75" width="200" /></a>
    <a href="#">Actualités</a>
    <a href="#">Alerte Sportif de Fondettes</a>
    <a href="#">Les Sections Sportives</a>
    <a href="#">Nos Partenaires</a>
</nav>
