<nav class="nav_bar">
    <a href="{{ path('index') }}"><img src="{{ ('/images/logo-ASF.png') }}" class="image-home" alt="logo home" height="150" width="200" /></a>
    <a href="#">Actualités</a>
    <a href="{{ path('asf') }}">Alerte Sportif de Fondettes</a>
    <a href="#">Les Sections Sportives</a>
    <a href="#">Nos Partenaires</a>
</nav>
