{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}

<div class="openButton-section" id="openButton-section">
    {# <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div> #}
    <div class="bar4"> ---> ---> </div>
    <div class="bar5"> Sections </div>
    <div class="bar6"> ---> ---> </div>
</div>
<nav class="menu-section">
    {% for section in sections %}
    <a class="link{{ currentPath == path('sectionSport', {id:section.id}) ? ' active' : '' }}" href="{{ path('sectionSport', {id:section.id}) }}">{{ section.name }}</a>
    {% endfor %}
</nav>
