<div class="openButton-section" id="openButton-section">
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
</div>
<nav class="menu-section">
    {% for section in sections %}
    <a href="{{ path('sectionSport', {id:section.id}) }}">{{ section.name }}</a>
    {% endfor %}
</nav>
