<nav class="nav_barSection">
    <a href="#">Athlétisme</a>
    <a href="#">Badminton</a>
    <a href="#">Basketball</a>
    <a href="#">Ecole de sport</a>
    <a href="#">Football</a>
    <a href="#">Judo</a>
    <a href="#">Karété Do</a>
    <a href="#">Natation</a>
    <a href="#">Pétanque</a>
    <a href="#">Squash</a>
    <a href="#">Tennis</a>
    <a href="#">Tennis de Table</a>
    <a href="#">VTT</a>
</nav>
