{% extends 'base.html.twig' %}

{% block title %}New BasketballCategory{% endblock %}

{% block body %}
    <h1>Create new BasketballCategory</h1>

    {{ include('section/basketball/basketball_category/_form.html.twig') }}

    <a href="{{ path('admin_basketball_category') }}">Retour à la liste</a>
{% endblock %}
