{% extends 'base.html.twig' %}

{% block title %}Edit Salaries{% endblock %}

{% block body %}
    <h1>Edit Salaries ASF</h1>

    {{ include('asf/salaries/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('admin_salaries') }}">Retour à la liste</a>

    {{ include('asf/salaries/_delete_form.html.twig') }}
{% endblock %}
